body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #090909ea;
}

header {
    margin-bottom: 30px;
}

/* Flexbox สำหรับกลุ่มปุ่ม Time และ Form */
.button-group-container {
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    margin-bottom: 30px;
}

.button-group {
    flex: 1; 
    padding: 15px;
    border: 1px solid #3f3b3b;
    border-radius: 8px;
    background-color: #322d2d;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.button-group h3 { 
    color: #333;
    border-bottom: 2px solid #030506;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #030506;
    border-radius: 5px;
    background-color: rgb(69, 59, 59);
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #e9f5ff;
}

button.active {
    background-color: #0a498d;
    color: white;
    border-color: #0056b3;
    font-weight: bold;
}

.quiz-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

#tense-result {
    font-size: 2em;
    padding: 15px;
    background-color: #322d2d;
    border-radius: 10px;
    display: inline-block;
}

#time-part {
    color: #dc3545; /* สีแดงสำหรับ Time */
}

#form-part {
    color: #28a745; /* สีเขียวสำหรับ Form */
}

#details-display {
    text-align: left;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #322d2d;
    border: 1px solid #030506;
    border-radius: 8px;
}

#details-display h3 {
    color: #030506;
}

#tense-meaning, #tense-structure {
    padding-left: 15px;
    line-height: 1.6;
}